/* NOTE ABOUT THE IMAGE SIZES: It looks a lot cleaner to have all of the images be the same size, which is why
    these values are hardcoded and the images get cropped. 
    These specific values can be changed as needed, but if they are greater than 400px, increase the cardWidth variable above.
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.header h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem;
}

.header a {
  background-color: #33CCCC;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  width: 250px;
  height: 50px;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header a:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(51, 204, 204, 0.7);
  box-shadow: 0px 0px 10px rgba(51, 204, 204, 0.7);
}

.header a:hover img {
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
}

.header a img {
  margin-left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.shop-items {
  width: 100vw;
  max-width: 975px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 80px 100px;
  padding: 80px 20px;
  margin-bottom: 50px;
}

.shop-items .shop-items__item .shop-items__item__img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 10px;
}

.shop-items .shop-items__item .shop-items__item__img img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shop-items .shop-items__item .shop-items__item__img img:hover {
  -webkit-transform: scale(1.2) translateY(-40%);
  transform: scale(1.2) translateY(-40%);
}

.shop-items .shop-items__item .shop-items__item__text {
  margin: 10px 0;
  text-transform: capitalize;
}

/*# sourceMappingURL=merch.css.map */