* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor:default;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

.container button {
  font-family: 'Open Sans',sans-serif;
  color: white;
  background: #33CCCC;
  border-color: #33CCCC;
  border-radius: 25px;
  padding-bottom: 10px;
  width: fit-content;
}

.container button:hover {
  color: white;
}

/* section .btn{
    color: #fff;
    background: #33CCCC;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

section .btn:hover{
    box-shadow: 0px 0px 10px rgba(51, 204, 204, 0.7);
} */

.container{
  padding-bottom: 3rem;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 919px;
  height: 163px;
  left: 232px;
  top: 112px;
}

/*Contact Form CSS*/

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/* Remove outline of all elements on focus */
*:focus {
	outline: 0;
}

body {
	background: #ffffff;  /* Set background color to #263238*/
}

h3 {
	text-align: center;
}

h4 {
  text-align: center;
  font-size: 32px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  margin: 3rem 0 1rem 0;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img{
  padding-bottom: 1rem;
  height: 5rem;
}

p{
  font-size: large;
  font-family: 'Montserrat', sans-serif;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Add styles to 'label' selector */
label {
	font-size: 0.85em;
	margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    resize: vertical;
    border-color: #33cccc;
}

/* Add styles to show 'focus' of selector */
.input:focus {
	border: 1px solid #33cccc;
}

/* Style 'hover' property */
.input:hover {
	border-color: #00AAE4;
}

/* Add styles to the buttons */
button {
	/* margin: 0 auto; */
	padding: 8px 32px;
	display: inline-block;
  text-align: center;
  border: 0;
}

/* Style 'hover' property */  
.slack{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1100px){
  form{
    width: 80%;
   }
}

@media only screen and (max-width: 500px){
  form{
    width: 95%;
   }
}