/*FOOTER*/
* {
    font-family: "Montserrat", sans-serif;
}

footer h4,
footer h1 {
    color: black;
}

#button-submit {
    margin-top: 2.5rem;
    left: 1.5rem;
}

footer {
    background: #fff;
    color: white;
    margin-top: 100px;
}

footer a {
    color: black;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 70%);
    padding-top: 2em;
    color: white;
    margin: auto;
}