@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

.borderr {

    border-top: 1px solid #000;
    padding-top: 20px;


}

textarea:focus,
input:focus {
    outline: none;
}

#footer-mission h1 {
    margin: 8vh;
    text-align: center;
    font-size: 1.75rem;
    position: relative;
}

#app-testimonials h1 {
    margin-bottom: 0;
}

#footer-mission h1::before {
    content: '';
    position: absolute;
    bottom: -1.25rem;
    height: 0.25rem;
    background-color: #33CCCC;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);

}

#footer-mission h1::before {
    width: 60px;
}