@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

.borderr {

    border-top: 1px solid #000;
    padding-top: 20px;


}

textarea:focus,
input:focus {
    outline: none;
}

#footer-mission h1 {
    text-align: center;
    font-size: 1.75rem;
    padding: 0;
    /* position: relative; */
}

#app-testimonials h1 {
    margin-bottom: 0;
}

#footer-mission #underline {
    content: '';
    align-self: center;
    margin-bottom: 0.5rem;
    height: 0.25rem;
    background-color: #33CCCC;
    width: 60px;
}

#newsletter {
    margin: 0;
}