/* -------------------------Background Animations-------------------------------https://www.sliderrevolution.com/resources/css-animated-background/ */
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';
* {
  box-sizing: border-box;
}

/* body {
  font-family: "Playfair Display", serif;
  color: #acaabe;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3b3d54;
  font-size: 14px;
  overflow: hidden;
} */

.wrap {
  perspective-origin: 50% 50%;
  overflow:hidden;
  top:0px;
}
/* @media only screen and (max-width:1101) */



.svg {
  stroke: #7ceaa4;
  position: absolute;
  bottom: 0;
  transform-style: preserve-3d;
  filter: invert(100%);
  opacity: 20%;;
}

.svg:nth-child(1) {
  left: 42%;
  -webkit-animation: raise1 16s linear infinite;
          animation: raise1 16s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: scale(-0.3) rotate(340deg);
  z-index: -6;
  filter: blur(-5px);
}
@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(178deg);
  }
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(178deg);
  }
}

.svg:nth-child(2) {
  left: -9%;
  -webkit-animation: raise2 16s linear infinite;
          animation: raise2 16s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: scale(0) rotate(325deg);
  z-index: -5;
  filter: blur(-4px);
  width:10px;
}
@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(283deg);
  }
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(283deg);
  }
}

.svg:nth-child(3) {
  left: 11%;
  -webkit-animation: raise3 14s linear infinite;
          animation: raise3 14s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: scale(0.3) rotate(103deg);
  z-index: -4;
  filter: blur(-3px);
}
@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(15deg);
  }
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(15deg);
  }
}

.svg:nth-child(4) {
  left: -9%;
  -webkit-animation: raise4 12s linear infinite;
          animation: raise4 12s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: scale(0.6) rotate(201deg);
  z-index: -3;
  filter: blur(-2px);
}
@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(258deg);
  }
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(258deg);
  }
}

.svg:nth-child(5) {
  left: 1%;
  -webkit-animation: raise5 16s linear infinite;
          animation: raise5 16s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  transform: scale(0.9) rotate(231deg);
  z-index: -2;
  filter: blur(-1px);
}
@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(273deg);
  }
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(273deg);
  }
}

.svg:nth-child(6) {
  left: 83%;
  -webkit-animation: raise6 12s linear infinite;
          animation: raise6 12s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: scale(1.2) rotate(236deg);
  z-index: -1;
  filter: blur(0px) invert(100%);;

}
@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(195deg);
  }
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(195deg);
  }
}



.svg:nth-child(10) {
  left: 99%;
  -webkit-animation: raise10 13s linear infinite;
          animation: raise10 13s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  transform: scale(2.4) rotate(29deg);
  z-index: 3;
  filter: blur(4px);
}
@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(134deg);
  }
}
@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(134deg);
  }
}