/* Import Heading 1 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Import Body */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap");



@import url("/navbar/navbar.css");
@import url("/footer/footer.css");

/* --------------------------- HEADER AND FOOTER --------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor:default;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
body section{
    padding: 0 20px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
section .btn{
    color: #fff;
    background: #33CCCC;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

section .btn:hover{
    box-shadow: 0px 0px 10px rgba(51, 204, 204, 0.7);
} 

/* -------------------------------- PARTNERSHIPS PAGE ------------------------------- */

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* 4 columns */
  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* turn into 2 columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* stack the two columns into one */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }