/* Import Heading 1 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


@import url("/navbar/navbar.css");
@import url("/footer/footer.css");

/* --------------------------- HEADER AND FOOTER --------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor:default;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
body section{
    padding: 0 20px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
section .btn{
    color: #fff;
    background: #33CCCC;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

section .btn:hover{
    box-shadow: 0px 0px 10px rgba(51, 204, 204, 0.7);
} 

/* -------------------------------- UPCOMING EVENTS PAGE ------------------------------- */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin-top: 3rem;
    margin-bottom: 100px;
    font-family: Montserrat, sans-serif;
    font-size: 64px;
    text-align: center;
    line-height: 78px;
}

#row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#row-2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#photos{
    padding-bottom: 110px;
}

