*{
    
    font-family: 'Lora', serif;
}
.kard{
    display:block;
    width: 100%;
    height:230px;
    background-color: #33cccc;
    padding:2%;
    border:0px solid #ffcc00;
    border-radius: 10%;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    
}
.kard:hover{
    background-color: #ffcc00;
    height:600px;
    z-index: 2;
    color:black;
}
.kard:hover > .bio{
    display: inline-block;
    color:black;
    
}
.kard:hover > .name{
    color:black;
}
/*.headshot{
    margin-left:28%;
    border-radius: 50%;
    width: 40%;
}*/
.bio{
    font-size: 1.3em;
    text-align: justify;
    color:white;
    font-family: 'Montserrat';
    display:none;
    padding: 10px;
}
/*.name{
    text-align: center;
    color:white;
}*/
.headshot{
    margin-left:28%;
    border-radius: 50%;
    width: 40%;
    margin-top:4%;
}
.name{
    font-size: 1.5rem;
    padding-top: 0.6em;
    text-align: center;
    color:white;
}
/*

IMPORTANT:
 
        From highest to lowest!

*/

@media only screen and (max-width:1200px){
    .headshot{
        margin-top: 11%;
}

@media screen and (max-width:1140px){
    .headshot{
        margin-top:10%;
    }
}

@media screen and (max-width:767px){
    .headshot{
        width:35%;
        margin-left: 32%;
        margin-top:1.5%;
    }
    .kard{
        width:80%;
        margin-left: 10%;
    }
    
}