
.kard{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height:230px;
    background-color: #33cccc;
    padding:2%;
    border:0px solid #ffcc00;
    border-radius: 10%;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    
}
.kard:hover{
    background-color: #ffcc00;
    height:auto;
    z-index: 2;
    color:black;
}
.nopic:hover > .team-member-img {
    content: url("team-assets/Headshots/headGold.png");
}
.kard:hover > .bio{
    display: inline-block;
    color:black;
    
}
.kard:hover > .name{
    color:black;
}

.bio{
    font-size: 1.3em;
    text-align: justify;
    color:white;
    font-family: 'Montserrat', 'Sans-Serif';
    display:none;
    padding: 10px;
}
/*.name{
    text-align: center;
    color:white;
}*/
.team-member-img {
    border-radius: 50%;
    width: 40%;
    margin-top:4%;
}
.name{
    font-size: 1.5rem;
    padding-top: 0.6em;
    text-align: center;
    color:white;
    font-weight: 500;
    line-height: 1.2;

    margin-top: 0;
    margin-bottom: 0.5rem;
}
/*

IMPORTANT:
 
        From highest to lowest!

*/

@media only screen and (max-width:1200px){
    .team-member-img {
        margin-top: 11%;
    }
}

@media screen and (max-width:1140px){
    .team-member-img {
        margin-top:10%;
    }
}

@media screen and (max-width:767px){
    .team-member-img {
        width:35%;
        /* margin-left: 32%; */
        margin-top:1.5%;
    }
    .kard{
        width:80%;
        /* margin-left: 10%; */
    }
}