.team-img {
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.card {
    width: 80%;
    border: 2px solid #FFCC00;
}

.name {
    font-size: 1.9em;
    padding: 10%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.bio {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
}


.officer .officer-photo {
    width: 16em;
    min-width: 16em;
    border-radius: 50%;
    border-color: rgb(142, 151, 150);
    border-width: thick;
}

#aditi {
    margin: 2rem auto;
}

#mod {
    margin-bottom: 4rem;
}

.big {
    text-align: center;
    font-size: 250%;
}

.bigitalic {
    text-align: center;
    font-size: 150%;
    font-style: italic;
}

.small {
    text-align: justify;
    font-size: 120%;
}

.officer .big {
    margin-top: 1em;

}

.col-card {
    margin-bottom: 2em;

}


@media only screen and (max-width:991px) {

    .officer-photo {
        margin: auto;
    }

    .Middle {
        font-size: 300%;
    }

}

@media only screen and (max-width:767px) {
    .officer-photo {
        margin: auto;
        width: 50%;
    }

    .col-card {
        padding-left: 20%;
    }
}