.team-img {
    width: 100%;
    border-bottom: 3px solid rgba(0, 0, 0,0.2);
}

.card{
    width: 80%;
    border:2px solid #FFCC00;
}
.name{
    font-size:1.9em;
    padding:10%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.bio{
    display:inline-block;
    padding-left:10%;
    padding-right:10%;
}

.free-space{ /* Delete this after you've fixed the h1 padding on all team pages */
    height:3em;
    
}
.officer .officer-photo{
    width:16em;
    min-width: 16em;
    border-radius: 50%;
    border-color: rgb(142, 151, 150);
    border-width: thick;
}
.big{
    text-align: center;
    font-size: 250%;
}
.bigitalic{
    text-align: center;
    font-size: 150%;
    font-style: italic;
}
.small{
    text-align: justify;
    font-size: 120%;
}
.officer .big{
    margin-top:0em;
    
}
.col-card{
    margin-bottom: 2em;
    
}
@media only screen and (max-width:991px){
    .officer-photo{
        margin-left:30%;
    }
    .Middle{
        font-size:300%;
    }
    
}
@media only screen and (max-width:767px){
    .officer-photo{
        margin-left:24%;
        width:50%;
    }
    .col-card{
        padding-left: 20%;
    }
}
/*@media only screen and (max-width:1200px){
    .officer-photo{
        margin-left: 120%;
        
    }
    
    .delete{
        width:0px;
        padding:0px;
        height: 0px;
    }
    .text{
        padding-top: 17em;
    }
}*/