.centerr, .centerr *{
    text-align: center;
}
.block{
    display:block;
}

.butthen{
    font-family: 'Open Sans',sans-serif;
    color: white;
    background-color: #33CCCC;
    border-color: #33CCCC;
    border-radius: 25px;
    padding-bottom: 10px;
    width: fit-content;
}
#butthen{
    font-family: 'Open Sans',sans-serif;
    color: white;
    background-color: #33CCCC;
    border-color: #33CCCC;
    border-radius: 25px;
    padding-bottom: 10px;
    width: fit-content;
}