.Middle{
    width: 100%;
    text-align: center;
    font-size:4em;
    font-weight: 750;
    margin-top: 1em;
}
.abby{
    
    
    float: left;
}
.free-space{
    height:3em;
    
}
.abby .abby-photo{
    width:16em;
    min-width: 16em;
    border-radius: 50%;
    border-color: rgb(142, 151, 150);
    border-width: thick;
}
.big{
    text-align: center;
    font-size:300%;
}
.bigitalic{
    text-align: center;
    font-size: 150%;
    font-style: italic;
}
.small{
    text-align: justify;
    font-size: 120%;
}
.abby .big{
    margin-top:0em;
    
}
.col-card{
    margin-bottom: 2em;
}
@media only screen and (max-width:991px){
    .abby-photo{
        margin-left:30%;
    }
    .Middle{
        font-size:300%;
    }
}
@media only screen and (max-width:767px){
    .abby-photo{
        margin-left:24%;
        width:50%;
    }
}
/*@media only screen and (max-width:1200px){
    .abby-photo{
        margin-left: 120%;
        
    }
    
    .delete{
        width:0px;
        padding:0px;
        height: 0px;
    }
    .text{
        padding-top: 17em;
    }
}*/