/*FOOTER*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    font-family: "Montserrat", sans-serif;
}

#copyright-magnify {
    color: black;
}

.fa {
    color: gray;
    margin-right: 1rem;
}

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top: 100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
    cursor: pointer;
}

footer a:hover {
    color: black !important;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}



footer #newsletter-header {
    font-weight: 500;
    font-size: large;
}

footer #newsletter form {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

@media (min-width: 500px) and (max-width: 992px) {
    footer #newsletter form {
        width: 75%;
    }
}

footer #newsletter input {
    position: relative;
    width: 10rem;
    height: 36px;
    /* background: #FFFFFF; */
    border: 2px solid #33CCCC;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 0 10px;
    cursor: text;
    margin: 0;
}

footer #newsletter form button {
    position: absolute;
    align-items: center;
    top: 10%;
    background: #33CCCC;
    border-radius: 25px;
    outline: none;
    border: none;
    color: #fff;
    height: 24px;
    padding: 0 12px;
    font-weight: 300;
    cursor: pointer;
}


textarea:focus,
input:focus {
    outline: none;
}

footer #newsletter p {
    font-style: italic;
    margin-top: 20px;
    max-width: 55vw;
}

footer .button {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #33CCCC;
    border-color: #33CCCC;
    border-radius: 25px;
    padding: 10px;
    width: auto;
    display: inline-block;
}

footer .button:hover {
    color: white;
}

footer .download {
    width: 150px;
    cursor: pointer;

}

footer #terms-copyright-policy {
    font-weight: 500;
    font-size: .85rem;

}

@media only screen and (max-width: 850px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer #newsletter {
        margin: 30px 0;
    }

    footer #newsletter p {
        max-width: 80vw;
    }

    footer #newsletter p span {
        display: none;
    }

    footer #newsletter p:before {
        content: "Receive monthly emails with amazing opportunities for high school and college students, advice, app updates, mental health news, and more!";
    }

}