html {
  scroll-behavior: smooth;
}

#scroll-to-top {
  background-color: rgba(19,20,25,0.6);
  width: 44px;
  height: 40px;
  position: fixed;
  bottom: 0;
  right: 40px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

#scroll-to-top i {
  color: #fff;
  font-size: 22px;
  line-height: 44px;
}

