.app {
    width: 100%;
}

.text {
    align-items: center;
    text-align: left;
    margin-top: 20%;
    font-size: 2em;
}

.row-app {
    background-color: #33cccc7a;
    border: 0px solid #33cccc;
    border-radius: 2%;
    margin-bottom: 10%;
}



#maggiepic {

    width: 10rem;
}

#downloadHeader {
    text-align: center;
    align-items: center;
}

@media only screen and (max-width:992px) {
    .app {
        width: 50%;
        align-items: center;
        text-align: center;
        margin-left: 25%;
    }

    .text {
        margin: 6%;
    }
}

#download-ios {
    border: 2px solid gray;
    border-radius: 6.26rem;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
}

#download-ios:hover {
    font-weight: 500;
    box-shadow: 3px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}