.star {
    color: rgb(230, 187, 0);

}

.stars {
    margin-bottom: 3rem;
    text-align: center;
    display: block;
}


.reviews-container {
    margin: auto;
    width: 80%;
}

.card {
    word-wrap: break-word;
    border-radius: 50px !important;
    border: 3px solid #33cccc !important;
    margin-bottom: 1rem;
    line-height: 1.75rem;
}

.card-title {
    margin-bottom: 1rem;
    text-align: center;
}

.card-text b {
    line-height: 2.5rem;
}

.card-text {
    text-align: center;
}

/* ! MEDIA QUERIES */

@media only screen and (max-width: 1400px) {
    .card {
        width: 19rem;
        height: 27rem;
        overflow: hidden;
    }

}

@media only screen and (max-width: 1200px) {
    .card {
        height: 26rem;
        overflow: hidden;
    }
}

@media only screen and (max-width: 992px) {
    .card {
        width: 13rem;
        height: 37.50rem;
        overflow: hidden;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        width: 16rem;
        height: 28.50rem;
        overflow: hidden;
    }


}

@media only screen and (max-width: 576px) {
    .card {
        height: 32.50rem;
        overflow: hidden;
        margin-bottom: 2rem;
    }
}