@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

header {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor:default;
}
header ul {
    list-style: none;
    padding-bottom: none!important;
    margin: 0!important;
}
  

header{
    position: sticky;
    top: 0px;
    background-color:#33CCCC;
    white-space: nowrap;
    width: 100%;
    z-index: 1001;
    transition: .7s;
    font-family: 'Montserrat', sans-serif;
}

header a{
    color: #0F1C33;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

header a:hover{
    text-decoration: none;
}

header .btn{
    font-weight: 700;
    background: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    transition: 0.3s;
    line-height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);

}

header .nav-bar-container {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    position: relative;
    
}

header .logo-container{
    padding: 0 3vw;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
   

}

header .logo-container img{
    height: 2.5rem;
    
}


header .logo {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 3.5rem;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    font-family: 'Montserrat', sans-serif;


}

header .logo-container:hover{
    transform: scale(1.05);
    
}

header a .logo:hover{
    color: #000;
    text-decoration: none;
}

/* ------------------------- NAVIGATION LINKS ------------------------------ */

header .nav-links-container{
    flex: 3;
    display: flex;
    align-items: center;
    padding: 0!important;    
    
}



header .nav-links-container > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav-links{
    flex: 2;
}


header .nav-links > ul{
    padding: 0 3vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
header li.nav-link{
    position: relative;
    padding: 0;
    
}


header .nav-link > a{
    line-height: 3.5rem;
    padding: 0 .8rem;
    font-size: .95rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
}


header .nav-link:hover > a{
    transform: scale(1.1);
    text-decoration: none;
    color: #000;
}



/* ------------------------ DONATE BUTTON ----------------------------- */
header .donate{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: .65;
    position: relative;
    
    
}

/* -------------------------------------- HAMBURGER MENU -------------------------------------------------- */
header .hamburger-menu-container{
    flex: 1;
    display: none;
    justify-content: flex-end;
    align-items: center;
}

header .hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #0F1C33;
    position: relative;
    transition: 0.5s;
    z-index: 2;
}

header .hamburger-menu div:before,
header .hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #0F1C33;
    border-radius: inherit;
    transition: 0.5s;
}


header .hamburger-menu div:before{
    transform: translateY(-7px);
}

header .hamburger-menu div:after{
    transform: translateY(7px);
}

header #check{
    position: absolute;
    display: none;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 5rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 3;
    opacity: 0;

}

header #check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;

}

header #check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: rotate(45deg);

}
header #check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: rotate(-45deg);

}


/* --------------------------------- MEDIA QUERIES -------------------------------- */

@keyframes menuGradualAppear{
    from{
        opacity: 0;
        transform: translateX(30px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 1100px) {

 /* --------------------- NAVIGATION ------------------------- */
 header  .hamburger-menu-container{
        display: flex;
    }

    header #check{
        display: block;
    }

    header  .nav-bar-container{
        padding-left: 10px;
    }
    
    header .nav-links-container{
        position: fixed;
        height: calc(100vh -  3.5rem);
        top:  3.5rem;
        left: 0;
        width: 300px;
        background-color: #33CCCC;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(400%);
        transition: 1.5s;
        /* padding-right: 30px!important; */
        padding-top: 15px!important;
        z-index: 10000;

    }


    header .nav-bar-container .donate:before{
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    width: 200px;
    height: 1px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header  .nav-links-container .donate{
        align-self: center;
        margin-right: -30px;
    }

    header  #check:checked ~ .nav-links-container{
        transform: translateX(calc(100vw - 300px));
        box-shadow: -10px 150px 50vh rgba(0,0,0,1);
    }

   

    header  #check:checked ~ .nav-links-container .nav-link{
        animation: menuGradualAppear .5s ease forwards var(--i);

    }


    header  .nav-links{
        flex: 3;
        padding-bottom: 0;
        
        
    }

    header  .nav-links > ul{
        flex-direction: column;
        height: 70vh;
        justify-content: space-around;
        align-items: flex-end;
   
        
    }

    header  .nav-link{ 
        opacity: 0;
        transform: translateY(15px);
        
    }

    header .nav-link > a{
        text-transform: uppercase;
        font-weight: 700;
                
    }

    header .nav-link:hover > a{
        transform: scale(1.1);
    }

}

@media only screen and (min-height: 800px){
    header .nav-links-container{
        padding-bottom: 4vh;
    }

}


@media only screen and (min-width: 1950px){
    header .logo{
        line-height: 5.5rem;
        font-size: 2rem;
    }

    header .nav-link > a{
        line-height: 5.5rem;
        padding: 0 .8rem;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

}

