#home {
    position: relative;
    min-height: calc(100vh - 3.5rem);
    background: linear-gradient(0.84deg, #FFCC00 20.72%, rgba(255, 205, 7, 0.973958) 20.73%, #33CCCC 93.75%);
}

/* sm: 640px */
@media (min-width: 640px) { 

}

/* md: 768px */
@media (min-width: 768px) { 
    #home {
        display: flex;
        justify-content: center;
    }
}